<div class="container">
<div class="d-inline-block text-center" style="margin-top: 50px; margin-left: 350px; margin-bottom: 100px;">
 <h4>猫自慢へようこそ</h4><br><br>
     <p>猫自慢では猫の写真や動画を投稿し、</p><br>
     <p>自慢したり、かわいいを共有したりして</p><br>
     <p>みんなが幸せになれる場所です。</p>
</div>
</div>